#grey {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 4px solid black;


}

#white {
    width: 100px;
    height: 100px;
    background-color: rgb(205, 159, 159);
    border: 4px solid black;
}

#blue {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 129, 195);
    border: 4px solid black;
}

#yellow {
    width: 100px;
    height: 100px;
    background-color: rgb(118, 205, 127);
    border: 4px solid black;
}

#al1 {
    height: 100px;

    display: flex;
    background-color: wheat;
    
}